<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key><string>en</string>
    <key>CFBundleDisplayName</key><string>FFmpeg Media Extension</string>
    <key>CFBundleExecutable</key><string>FFmpeg Media Extension</string>
    <key>CFBundleIdentifier</key><string>lv.apps.ffmpeg-media-extension</string>
    <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
    <key>CFBundleName</key><string>FFmpeg Media Extension</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleShortVersionString</key><string>0.1</string>
    <key>CFBundleVersion</key><string>13</string>
    <key>CFBundleIconFile</key><string>AppIcon</string>
    <key>LSMinimumSystemVersion</key><string>15.0</string>
    <key>NSHumanReadableCopyright</key><string>Copyright © 2026 Ēriks Remess. MIT licensed; includes FFmpeg under LGPL v2.1 or later.</string>
    <key>NSHighResolutionCapable</key><true/>
</dict>
</plist>
